<template>
  <div class="hello">
    <p>Welcome, you are logged in!</p>
    <button v-on:click="logout">Logout</button>
  </div>
</template>

<script>
import firebase from 'firebase'

export default {
  name: 'Hello',
  data () {
    return {}
  },
  methods: {
    logout: function() {
      firebase.auth().signOut().then(() => {
      this.$router.replace('login')
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

button {
  padding: 10px 20px;
  background: #42b983;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 22px;
  outline: 0;
  cursor: pointer;
}

</style>
